@import '../colors/Colors.scss';

.header {
  padding: 16px 32px;
  width: 100%;
  background: #fff;
  height: fit-content;
}

.headerContent {
  display: flex;
  gap: 24px;
  align-items: center;
}

.arrowContainer {
  display: flex;
  gap: 16px;
}

.searchContainer {
  display: flex;
  padding: 12px 24px 12px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: #fbfbfb;
  width: 1019px;
}

.noBorder {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
}

.darkHeader {
  background-color: $DarkHeaderColor;
}

.darkHeader .searchContainer {
  background-color: $DarkInputColor;
}

.darkHeader .noBorder {
  color: #fff;
}

@media (max-width: 768px) {

  .header{
    display: none;
  }
}