$primary: #FF5F5F;
$TextWhiteModeTextPrimary: #292929;
$TextWhiteModeTextSecondary: #D6D6D6;
$TextSecondaryDarkMode: #898989;
$BackgroundColorDarkMode: #0E0E0E;
$ContainerColor: #151515;
$BackgroundColorWhiteMode: #F7F7F7;
$ButtonDarkMode: #1F1F1F;
$ButtonWhiteMode: #FAFAFA;
$StrokeDarkMode: #E8E8E8;
$NavStrokeDarkMode: #262626;
$PlayerStrokeWhiteMode: #F1F1F1;
$StrokeWhiteMode: #F1F1F1;
$HoverDarkMode: #262626;
$HoverWhiteMode: #F2F2F2;
$white: white;
$black: black;
$DarkModeColor:#151515;
$DarkMenuItemsColor:#2C1C1C;
$DarkHeaderColor:#151515;
$DarkInputColor:#212121;
$ComputerPlayer:#262626;
$ComputerPlayerName:#898989;
$ComputerPlayerRadioInput:#515151;
