@import "../colors/Colors.scss";


.mainContainer {
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 20px;
  background: $white;
  gap: 16px;
  width: 360px;
}

.topImage {
  border-radius: 8px;
}

.song {
    color: $TextWhiteModeTextPrimary;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: -0.32px;
    text-transform: capitalize;
}

.artist {
    color: $TextSecondaryDarkMode;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    text-transform: capitalize;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank {
    color: $TextWhiteModeTextPrimary;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    letter-spacing: -0.32px;
    text-transform: capitalize;
}

.chartInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 26px;
}

.bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.darkMainContainer{
  background: $DarkModeColor;
}

.darkMainContainer .song{
  color: $white;
}

.darkMainContainer .rank{
  color: $white ;
}