@import '../colors/Colors.scss';

.logout{
    position: absolute;
    bottom: 9px;
    left: 54px;
    color: $LogoutTextColor;
    font-family: Inter;
    font-size: 14px;
}

.logoutContainer{
    display: flex;
    align-items: center;
}

.imgLogout{
    background-image: url('../../../public/Images/Frame\ 1597881242.png');
    width:  79px;
    height: 24px;
    position: absolute;
    bottom: 9px;
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.burgerMenu {
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 811px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonBurger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10000; 
}

.closeBurger {
    margin-top: 20px;
}


.logoutImg{
    background-image: url('../../../public/Images/Frame\ 1597881242.png');
    width: 79px;
    height: 24px;
    position: absolute;
    bottom: 23px;
    left: 30px;
}
.burgerimg{
    background-image: url('../../../public/Images/Menu_Alt_04.png');
    width: 32px;
    height: 32px;
}
.buttonBurger{
    border: none;
    outline: none;
}